{% extends '../templates/base.html' %}
{% load i18n %}

{% block meta_title %}{% trans "Tang Hall Community Centre" %}{% endblock %}
{% block title %}{% trans "Tang Hall Community Centre" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home.Bookings" %}</li>
{% endblock %}

{% block main %}
            {% for booking in bookings %}
                <div class="post">
                    <h1><a href="{% url 'booking_detail' pk=booking.pk %}">{{ booking.title }}</a></h1>
                    <div class="date">
                        {{ booking.start_date }}
                    </div>
                    <p>{{ booking.desc|linebreaks }}</p>
                </div>
            {% endfor %}
{% endblock main %}