{% extends "base_minimal.html" %}
{% load i18n %}

{% block extra_head %}

	<!-- head -->
    <meta charset="utf-8">
    <!-- demo stylesheet -->
<!--     <link type="text/css" rel="stylesheet" href="../helpers/demo.css?v=1514" />
    <link type="text/css" rel="stylesheet" href="../helpers/media/layout.css?v=1514" />
    <link type="text/css" rel="stylesheet" href="../helpers/media/elements.css?v=1514" /> -->

	<!-- helper libraries -->
	<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    
	<!-- daypilot libraries -->
<!-- http://javascript.daypilot.org/demo/js/daypilot-all.min.js?v=1514 -->
<!--     <script src="http://javascript.daypilot.org/demo/js/daypilot-all.min.js" type="text/javascript"></script> -->
    <script src="../static/js/daypilot-all.min.js?v=1514" type="text/javascript"></script>

    <!-- daypilot themes -->
<!-- 	<link type="text/css" rel="stylesheet" href="../themes/areas.css?v=1514" />    
        
	<link type="text/css" rel="stylesheet" href="../themes/month_white.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/month_green.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/month_transparent.css?v=1514" />    
    <link type="text/css" rel="stylesheet" href="../themes/month_traditional.css?v=1514" />
        
	<link type="text/css" rel="stylesheet" href="../themes/navigator_8.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/navigator_white.css?v=1514" />    
        
	<link type="text/css" rel="stylesheet" href="../themes/calendar_transparent.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/calendar_white.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/calendar_green.css?v=1514" />    
    <link type="text/css" rel="stylesheet" href="../themes/calendar_traditional.css?v=1514" />

    <link type="text/css" rel="stylesheet" href="../themes/scheduler_8.css?v=1514" />
	<link type="text/css" rel="stylesheet" href="../themes/scheduler_white.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/scheduler_green.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/scheduler_blue.css?v=1514" />    
    <link type="text/css" rel="stylesheet" href="../themes/scheduler_traditional.css?v=1514" />
	<link type="text/css" rel="stylesheet" href="../themes/scheduler_transparent.css?v=1514" />    

 -->

{% endblock %}

{% block main %}

<div class="space">
    Showing from <script type="text/javascript">document.write(new Date().toDateString());</script>
     to <script type="text/javascript">
    var date = new Date();
    date.setDate(date.getDate() + 6);
    document.write(date.toDateString());</script> 
    <div style="float:right">
    <a href="javascript:dp.startDate = new DayPilot.Date(new Date()); dp.update();">Today</a>
    |
    <a href="javascript:dp.startDate = dp.startDate.addDays(-7); dp.update();">Previous week</a>
    |
    <a href="javascript:dp.startDate = dp.startDate.addDays(7); dp.update();">Next week</a>  
    |   
    <a href="javascript:dp.startDate = dp.startDate.addMonths(-1); dp.update();">Previous month</a>
    |
    <a href="javascript:dp.startDate = dp.startDate.addMonths(1); dp.update();">Next month</a>
    </div>
</div>

<div id="dp"></div>
{% include "forms/calendar_booking.html" %}

<script type="text/javascript">
    var dp = new DayPilot.Scheduler("dp");
    dp.allowEventOverlap = false;
    //dp.viewType = "Resources"; - not working just like that but worth examining later
    
    dp.onIncludeTimeCell = function(args) {
        //console.log(args.cell.start.getHours());
        if (args.cell.start.getHours() > 1 &&
           args.cell.start.getHours() < 7) { // hide 2AM - 6AM
          
          args.cell.visible = false;
        }
    }

    // view
    dp.startDate = new DayPilot.Date(new Date());  // or just dp.startDate = "2013-03-25";
    dp.cellGroupBy = "Month";
    dp.days = 7;
    dp.cellDuration = 30; // booking slots are multiples of 30 mins
    // Don't allow users to move/resize events
    dp.moveBy = 'None';
    
    dp.timeHeaders = [
        { groupBy: "Day" },
        { groupBy: "Hour" }  // Without this, we can't see the hours, just 00 and 30 mins
    ];
    dp.scale = "CellDuration";

    // bubble, sync loading
    // see also DayPilot.Event.data.staticBubbleHTML property
    dp.bubble = new DayPilot.Bubble();

    dp.contextMenu = new DayPilot.Menu({items: [
	    	{text:"Show event ID", onclick: function() {alert("Event value: " + this.source.value());} },
	    	{text:"Show event text", onclick: function() {alert("Event text: " + this.source.text());} },
	    	{text:"Show event start", onclick: function() {alert("Event start: " + this.source.start().toStringSortable());} },
	    	{text:"Go to google.com", href: "http://www.google.com/?q={0}"},
	    	{text:"CallBack: Delete this event", command: "deleteme"} ,
                {text:"submenu", items: [
                        {text:"Show event ID", onclick: function() {alert("Event value: " + this.source.value());} },
                        {text:"Show event text", onclick: function() {alert("Event text: " + this.source.text());} }
                    ]
                }
	    ]});

    dp.treeEnabled = true;
    dp.rowHeaderWidth = 200;
    dp.resources = [
                 { name: "Hall", id: "Hall" },
                 { name: "Kitchen", id: "Kitchen" },
                 { name: "Lounge", id: "Lounge" },
                 { name: "Office One", id: "Office One" },
                ];

    // generate and load events
    all_bookings = {% autoescape off %}{{bookings}}{% endautoescape %}
    console.log(all_bookings); 
    for (var i = 0; i < all_bookings.length; i++) {
        //console.log(all_bookings[i]);        
        var duration = Math.floor(Math.random() * 1) + 1; // 1 to 6
        var start = Math.floor(Math.random() * 6) - 3; // -3 to 3
        var e = new DayPilot.Event({
            start: new DayPilot.Date(all_bookings[i].start_date),
            end: new DayPilot.Date(all_bookings[i].end_date),
            id: DayPilot.guid(),
            resource: all_bookings[i].room,
            text: all_bookings[i].title,
            desc: all_bookings[i].desc,
            moveDisabled: true,/*
            bubbleHtml: "Testing bubble"*/
        });
        console.log(e);
        dp.events.add(e);
    }
    /*for (var i = 0; i < 5; i++) {
        var duration = Math.floor(Math.random() * 1) + 1; // 1 to 6
        var start = Math.floor(Math.random() * 6) - 3; // -3 to 3

        var e = new DayPilot.Event({
            start: new DayPilot.Date("2013-03-25T10:00:00").addHours(start),
            end: new DayPilot.Date("2013-03-25T11:00:00").addHours(start).addHours(duration),
            id: DayPilot.guid(),
            resource: dp.resources[Math.floor(Math.random() * 4)].id,
            text: "Mel says I own this now"/*,
            bubbleHtml: "Testing bubble"
        });
        dp.events.add(e);
    }*/

    dp.eventHoverHandling = "Bubble";
    
    dp.onBeforeEventRender = function(args) {
        args.e.bubbleHtml = args.e.desc;
    };
    
    
    // event moving
//     dp.onEventMoved = function (args) {
//         dp.message("Moved: " + args.e.text());
//     };

    // event resizing
//     dp.onEventResized = function (args) {
//         dp.message("Resized: " + args.e.text());
//     };

    // event creating
    dp.onTimeRangeSelected = function (args) {
        //var name = prompt("name goes here:", "Event");
        start = args.start.value.slice(0,10)+" "+args.start.value.slice(11);
        end = args.end.value.slice(0,10)+" "+args.end.value.slice(11);
        console.log(start);
        document.getElementById("id_start_date").value = start;
        document.getElementById("id_end_date").value = end;
        document.getElementById("id_room").value = args.resource;
        dp.clearSelection();
        document.getElementById("id_title").focus();
        //if (!name) return;
        var e = new DayPilot.Event({
            start: args.start,
            end: args.end,
            id: DayPilot.guid(),
            resource: args.resource,
            text: "New booking" //can retrieve username later
        });
        dp.events.add(e);
        
        // dp.message("Created");
    };
    
//     dp.onEventClicked = function(args) {
//         alert("clicked: " + args.e.id());
//     };
    
//     dp.onTimeHeaderClick = function(args) {
//         alert("clicked: " + args.header.start);
//     };

    dp.init();
    
    dp.scrollTo("2015-03-29");

</script>

  <!-- bottom -->

<script type="text/javascript">
$(document).ready(function() {
    var url = window.location.href;
    var filename = url.substring(url.lastIndexOf('/')+1);
    if (filename === "") filename = "index.html";
    $(".menu a[href='" + filename + "']").addClass("selected");
});
        
</script>
	<!-- /bottom -->

{% endblock %}

{% block left_panel %}
{% endblock %}
{% block right_panel %}
{% endblock %}