{% extends "base_minimal.html" %}
{% load i18n %}

{% block extra_head %}

	<!-- head -->
    <meta charset="utf-8">
    <!-- demo stylesheet -->
<!--     <link type="text/css" rel="stylesheet" href="../helpers/demo.css?v=1514" />
    <link type="text/css" rel="stylesheet" href="../helpers/media/layout.css?v=1514" />
    <link type="text/css" rel="stylesheet" href="../helpers/media/elements.css?v=1514" /> -->

	<!-- helper libraries -->
	<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    
	<!-- daypilot libraries -->
<!-- http://javascript.daypilot.org/demo/js/daypilot-all.min.js?v=1514 -->
<!--     <script src="http://javascript.daypilot.org/demo/js/daypilot-all.min.js" type="text/javascript"></script> -->
    <script src="../static/js/daypilot-all.min.js?v=1514" type="text/javascript"></script>

    <!-- daypilot themes -->
<!-- 	<link type="text/css" rel="stylesheet" href="../themes/areas.css?v=1514" />    
        
	<link type="text/css" rel="stylesheet" href="../themes/month_white.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/month_green.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/month_transparent.css?v=1514" />    
    <link type="text/css" rel="stylesheet" href="../themes/month_traditional.css?v=1514" />
        
	<link type="text/css" rel="stylesheet" href="../themes/navigator_8.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/navigator_white.css?v=1514" />    
        
	<link type="text/css" rel="stylesheet" href="../themes/calendar_transparent.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/calendar_white.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/calendar_green.css?v=1514" />    
    <link type="text/css" rel="stylesheet" href="../themes/calendar_traditional.css?v=1514" />

    <link type="text/css" rel="stylesheet" href="../themes/scheduler_8.css?v=1514" />
	<link type="text/css" rel="stylesheet" href="../themes/scheduler_white.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/scheduler_green.css?v=1514" />    
	<link type="text/css" rel="stylesheet" href="../themes/scheduler_blue.css?v=1514" />    
    <link type="text/css" rel="stylesheet" href="../themes/scheduler_traditional.css?v=1514" />
	<link type="text/css" rel="stylesheet" href="../themes/scheduler_transparent.css?v=1514" />    

 -->

{% endblock %}

{% block main %}



	            
<div id="dp"></div>

<script type="text/javascript">
    var dp = new DayPilot.Scheduler("dp");

    // view
    dp.startDate = new DayPilot.Date("2013-03-25");  // or just dp.startDate = "2013-03-25";
    dp.cellGroupBy = "Month";
    dp.days = 7;
    dp.cellDuration = 1440; // one day
    
    dp.moveBy = 'Full';
    
    dp.timeHeaders = [
        { groupBy: "Day" },
        { groupBy: "Cell" }
    ];
    dp.scale = "Hour";

    // bubble, sync loading
    // see also DayPilot.Event.data.staticBubbleHTML property
    dp.bubble = new DayPilot.Bubble();

    dp.contextMenu = new DayPilot.Menu({items: [
	    	{text:"Show event ID", onclick: function() {alert("Event value: " + this.source.value());} },
	    	{text:"Show event text", onclick: function() {alert("Event text: " + this.source.text());} },
	    	{text:"Show event start", onclick: function() {alert("Event start: " + this.source.start().toStringSortable());} },
	    	{text:"Go to google.com", href: "http://www.google.com/?q={0}"},
	    	{text:"CallBack: Delete this event", command: "delete"} ,
                {text:"submenu", items: [
                        {text:"Show event ID", onclick: function() {alert("Event value: " + this.source.value());} },
                        {text:"Show event text", onclick: function() {alert("Event text: " + this.source.text());} }
                    ]
                }
	    ]});

    dp.treeEnabled = true;
    dp.rowHeaderWidth = 200;
    dp.resources = [
                 { name: "Hall", id: "H" },
                 { name: "Kitchen", id: "K" },
                 { name: "Lounge", id: "L" },
                 { name: "Office One", id: "O" },
                ];

    // generate and load events
    for (var i = 0; i < 5; i++) {
        var duration = Math.floor(Math.random() * 1) + 1; // 1 to 6
        var start = Math.floor(Math.random() * 6) - 3; // -3 to 3

        var e = new DayPilot.Event({
            start: new DayPilot.Date("2013-03-25T10:00:00").addHours(start),
            end: new DayPilot.Date("2013-03-25T11:00:00").addHours(start).addHours(duration),
            id: DayPilot.guid(),
            resource: dp.resources[Math.floor(Math.random() * 4)].id,
            text: "Mel says I own this now"/*,
            bubbleHtml: "Testing bubble"*/
        });
        dp.events.add(e);
    }

    dp.eventHoverHandling = "Bubble";
    
    dp.onBeforeEventRender = function(args) {
        args.e.bubbleHtml = args.e.start + " " + args.e.end;
    };
    
    // event moving
    dp.onEventMoved = function (args) {
        dp.message("Moved: " + args.e.text());
    };

    // event resizing
    dp.onEventResized = function (args) {
        dp.message("Resized: " + args.e.text());
    };

    // event creating
    dp.onTimeRangeSelected = function (args) {
        var name = prompt("name goes here:", "Event");
        dp.clearSelection();
        if (!name) return;
        var e = new DayPilot.Event({
            start: args.start,
            end: args.end,
            id: DayPilot.guid(),
            resource: args.resource,
            text: name
        });
        dp.events.add(e);
        
        // dp.message("Created");
    };
    
    dp.onEventClicked = function(args) {
        alert("clicked: " + args.e.id());
    };
    
    dp.onTimeHeaderClick = function(args) {
        alert("clicked: " + args.header.start);
    };

    dp.init();
    
    dp.scrollTo("2013-03-25");

</script>

  <!-- bottom -->

<script type="text/javascript">
$(document).ready(function() {
    var url = window.location.href;
    var filename = url.substring(url.lastIndexOf('/')+1);
    if (filename === "") filename = "index.html";
    $(".menu a[href='" + filename + "']").addClass("selected");
});
        
</script>
	<!-- /bottom -->

{% endblock %}

{% block left_panel %}
{% endblock %}
{% block right_panel %}
{% endblock %}